body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

.emotions button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emotions button:hover {
    background-color: #45a049;
}

.recommendations {
    margin-top: 20px;
}

.recommendations h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recommendations ul {
    list-style: none;
    padding: 0;
}

.recommendations ul li {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.recommendations ul li:last-child {
    border-bottom: none;
}
